:root {
    --primary-color: #1ABC9C;
    --secondary-color: #3A546D;
    --h-f-color: #2C3E50;

}


body {
    color: white;
}


li {
    list-style: none;
}

/*HEADER*/

#header {
    line-height: 80px;
    background-color: var(--h-f-color);
}



/*DEBUG*/

header {
    background-color:lightpink;

}

section {
    height: 500px;
}

section #portoglio {
    height: 1000px;

}