:root {
    --primary-color: #1ABC9C;
    --secondary-color: #3A546D;
    --h-f-color: #2C3E50;

}


img {
    width: 100%;
}


li {
    list-style: none;
}

/*HEADER*/

#header {
    line-height: 80px;
    background-color: var(--h-f-color);
    color:white;
}

.links {
    margin-left: auto;
}

.header-icon {
    border: 1px solid white;
    align-self: flex-start;
}

/*MAIN*/
    /*jumbotron*/

#jumbotron {
    background-color: var(--primary-color);
    text-align: center;
    color:white;
}

.jumbo-avatar {
    width: 50%;
    
}

.star-line {
    border-top: 1px solid white;
}

    /*about*/

#about {
    background-color: var(--primary-color);
    color:white;
    }
/*RESPONSIVE*/